.mydoc_api_title{
    margin: 35px 0 0.8em;
}
.mydoc_api_title_a{
    font-size: 1.5em;
    text-decoration: none;
    color: #2c3e50;
    text-align: center;
}
.mydoc_api_title_a::before{
    content: '';
    display: block;
    margin-top: -40px;
    height: 40px;
    visibility: hidden;
}
.mydoc_api_title_h2{
    margin: 5px 0 8px;
    font-size: 22px;
    padding-bottom: 1em;
}
.mydoc_api_title_content{

}